<section class="container project_container">
  <div class="section_header">
    <h2 class="section_heading block">Projects</h2>
    <div class="filter">
      <h3 class="filter_title">Filter</h3>
      <ul class="filter_list">
        <li class="filter_item">All</li>
        <li class="filter_item">Html</li>
        <li class="filter_item">Css</li>
        <li class="filter_item">Javascript</li>
      </ul>
    </div>
  </div>
  <div class="projects grid grid-1x3">
    <div class="project_card">
      <div class="extended_content">
        <span class="challenge">Challenge:</span>
        <p class="challenge_text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere optio
          repudiandae est nobis ut adipisci earum in vel similique, assumenda ab
          quod aliquam rerum voluptate iusto enim laudantium, veniam ea. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam
          voluptatibus at, dolore minus minima eos! Sapiente esse officia
          distinctio rerum nesciunt! Amet eligendi in laudantium? Pariatur
          repellendus maxime dignissimos.
        </p>
        <div class="card_btn_wrapper">
          <a class="btn primary-btn" href="#">Code</a>
          <a class="btn primary-btn" href="#">Live</a>
        </div>
      </div>
      <img
        src="./asset/img/lphd7s3gcbcgcxmfjt19.jpg"
        alt=""
        class="project_img"
      />
      <div class="card_content">
        <h2 class="project_title">Lorem ipsum dolor sit amet.</h2>
        <div class="lang_use">
          <span class="batch batch-sky card_batch">html</span>
          <span class="batch batch-yellow card_batch">css</span>
          <span class="batch batch-orange card_batch">js</span>
        </div>
        <p class="project_description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, ipsam
          natus. Odio iste autem dignissimos pariatur molestias labore unde
          laudantium.
        </p>
      </div>
    </div>
  </div>
</section>
